doctype html
html(lang='en')
	head
		include includes/head.pug
		title Test Title
	body
		nav
			include includes/navbar.pug
		section
			div
				h5 say hello to the products
			.row
				.product-gallery
					each product in products
						.col-s4
							p.brand Brand Name: #{product.brand}
							p.product Product Name: #{product.productname}
							p Description: #{product.description}
							img(src=product.image)
							p.price Price: € #{product.price}
							button.waves-effect.waves-light.btn.addtocart(id=product.id)
								| Order Now



